<div class="grid">
	<div class="col-1-1">
		<div class="header">
			about
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-1-1">
		<p class="copy">
			We are Columbia's oldest and finest a cappella group. Notes and Keys has a diverse and constantly expanding repertoire of skillfully written arrangements by our own members, which we have performed on VH1 and at NYC's Knickerbocker Club, Yankee Stadium, Dylan's Candy Bar, the United Nations, and our annual performance at Gracie Mansion. We are celebrating our 105th anniversary this year! Please <a href="#/contact">contact us</a> if you are interested in having us sing at your next event.
		</p>
	</div>
</div>
<div class="grid">
	<div class="col-1-1">
		<center>
			<div class="slideshow-container">
				<a ng-click="getNextImage()">
					<img ng-src="./img/slideshow_imgs/{{image}}" alt="">
				</a>
			</div>
		</center>
	</div>
</div>
